.ip-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 13px;
  color: var(--hi-color-theme);
  border: 1px solid var(--hi-color-theme);
  border-radius: 6px;
  padding: 3px 14px;

  .copy-ip {
    margin-top: -2px;
  }
}